//Neutral
$color__white: #ffffff;
$color__lighter-grey: #F7F7F7;
$color__light-grey: #D9D9D9;
$color__mid-grey: #757575;
$color__black: #1E1E1E;

//Base
$color__primary: #1B3B6F;
$color__secondary: #8DA8D7;

//Accent
$color__accent-blue: $color__secondary;
$color__accent-green: #5DAF1C;
$color__accent-orange: #DB9C35;
$color__accent-red: #C40000;