//Spacings
$spacing__2: 2px;
$spacing__4: 4px;
$spacing__8: 8px;
$spacing__12: 12px;
$spacing__16: 16px;
$spacing__20: 20px;
$spacing__24: 24px;
$spacing__32: 32px;
$spacing__40: 40px;
$spacing__48: 48px;

//Border-radius
$border-radius__round: 50%;
$border-radius__4: 4px;
$border-radius__8: 8px;
$border-radius__12: 12px;
$border-radius__16: 16px;
$border-radius__default: $border-radius__8;